<div style="margin-bottom: 50px;">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header" style="position: relative;">
        <a class="navbar-brand" href="#">GuuCode</a>
        <button class="btn btn-default btn-lg pull-right" style="border: none; background-color: transparent; position: absolute; top: 5%; right: 5px;"><span class="glyphicon glyphicon-cog"></span></button>
      </div>
    </div>
  </nav>
</div>
<div class="container" style="padding: 10px;">
  <div style="margin-bottom: 10px;">
    <label for="display_income">รายรับ:</label>
    <input type="number" class="form-control" id="display_income" value="20000" disabled>
  </div>
  <div style="margin-bottom: 10px;">
    <label for="display_expense">รายจ่าย:</label>
    <input type="number" class="form-control" id="display_expense" value="3500" disabled>
  </div>
</div>
<div class="container" style="padding: 10px;">
  <div class="panel panel-default">
    <div class="panel-heading" style="padding: 5px 15px;">
      <h4>
        รายจ่ายทั้งหมด
      </h4>
    </div>
    <table class="table table-fixed">
      <thead>
      <tr>
        <th class="col-xs-8">รายการ</th>
        <th class="col-xs-4">จำนวนเงิน</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="col-xs-8">1</td>
        <td class="col-xs-4">23</td>
      </tr>
      <tr>
        <td class="col-xs-8">2</td>
        <td class="col-xs-4">44</td>
      </tr>
      <tr>
        <td class="col-xs-8">3</td>
        <td class="col-xs-4">86</td>
      </tr>
      <tr>
        <td class="col-xs-8">4</td>
        <td class="col-xs-4">23</td>
      </tr>
      <tr>
        <td class="col-xs-8">5</td>
        <td class="col-xs-4">44</td>
      </tr>
      <tr>
        <td class="col-xs-8">6</td>
        <td class="col-xs-4">26</td>
      </tr>
      <tr>
        <td class="col-xs-8">7</td>
        <td class="col-xs-4">56</td>
      </tr>
      <tr>
        <td class="col-xs-8">8</td>
        <td class="col-xs-4">96</td>
      </tr>
      <tr>
        <td class="col-xs-8">9</td>
        <td class="col-xs-4">13</td>
      </tr>
      <tr>
        <td class="col-xs-8">10</td>
        <td class="col-xs-4">16</td>
      </tr>
      <tr>
        <td class="col-xs-8">11</td>
        <td class="col-xs-4">44</td>
      </tr>
      <tr>
        <td class="col-xs-8">12</td>
        <td class="col-xs-4">6</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container" style="padding: 10px;">
  <button routerLink="/login" class="btn btn-danger">Logout</button>
</div>
