<div>
  <button class="btn btn-default btn-lg" style="border: none; background-color: transparent; position: absolute; top: 0; right: 0;">
    <span class="glyphicon glyphicon-cog"></span>
  </button>
  <div class="circle-text-center" style="margin-top: 20px;">
    <table style="margin: auto; height: 140px;">
      <tbody>
        <tr>
          <td>
            <p>จ่าย</p>
            <p style="font-size: 20px; font-weight: 700;">8,000</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container" style="padding: 10px;">
  <div class="panel panel-default" style="margin-bottom: 0;">
    <table style="width: 100%;">
      <tr>
        <td class="bg-theme" style="width: 40%; padding: 5px 10px;">เหลือ(บาท)</td>
        <td style="width:60%; text-align: right; padding: 5px 10px;">15,000</td>
      </tr>
    </table>
  </div>
</div>
<div class="container" style="padding: 10px;">
  <div class="panel panel-default">
    <div class="panel-heading bg-theme" style="padding: 5px 10px;">
      <b style="font-size: 14px;">
        รายจ่ายล่าสุด
      </b>
    </div>
    <table class="table table-fixed">
      <!--<thead>-->
      <!--<tr>-->
        <!--<th class="col-xs-8">รายการ</th>-->
        <!--<th class="col-xs-4">จำนวนเงิน</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <tbody>
      <tr>
        <td class="col-xs-8">1</td>
        <td class="col-xs-4">23</td>
      </tr>
      <tr>
        <td class="col-xs-8">2</td>
        <td class="col-xs-4">44</td>
      </tr>
      <tr>
        <td class="col-xs-8">3</td>
        <td class="col-xs-4">86</td>
      </tr>
      <tr>
        <td class="col-xs-8">4</td>
        <td class="col-xs-4">23</td>
      </tr>
      <tr>
        <td class="col-xs-8">5</td>
        <td class="col-xs-4">44</td>
      </tr>
      <tr>
        <td class="col-xs-8">6</td>
        <td class="col-xs-4">26</td>
      </tr>
      <tr>
        <td class="col-xs-8">7</td>
        <td class="col-xs-4">56</td>
      </tr>
      <tr>
        <td class="col-xs-8">8</td>
        <td class="col-xs-4">96</td>
      </tr>
      <tr>
        <td class="col-xs-8">9</td>
        <td class="col-xs-4">13</td>
      </tr>
      <tr>
        <td class="col-xs-8">10</td>
        <td class="col-xs-4">16</td>
      </tr>
      <tr>
        <td class="col-xs-8">11</td>
        <td class="col-xs-4">44</td>
      </tr>
      <tr>
        <td class="col-xs-8">12</td>
        <td class="col-xs-4">6</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container" style="padding: 10px;">
  <button routerLink="/login" class="btn btn-danger">Logout</button>
</div>
